html, body {
    font-size: 1rem;
}

h1 {
    margin: 0.5rem auto;
    text-align: center;
    font-weight: normal;
    font-size: 2rem;
}

.deck-inner-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin-bottom: .5rem;
}

.deck-container .card {
    margin-top: .3rem;
}

.deck-container.active .card {
    cursor: pointer;
}

.player-container {
    margin-top: 1rem;
    margin-bottom: 1rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.player {
    display: inline-block;
    border: 1px solid black;
    padding: 1rem .5rem;
    min-width: 200px;
}

.player.active .player-card.active {
    cursor: pointer;
}

.num-trash-cards {
    color: red;
    font-weight: bold;
}

.player.active .player-name {
    color: #e63981;
}

.player-name {
    font-weight: bold;
    font-size: 1.2em;
}

.card {
    /*color: #eee;*/
    padding: .5rem 1rem;
    border: 1px solid black;
    border-style: collapse;
}

.card:not(:first-of-type) {
    margin-top: 0.3rem;
}

.card-name {
    text-align: center;
}

.card.point {
    background-color: #1AD678;
}

.card.treasure.copper {
    background-color: #E3A805;
}

.card.treasure.silver {
    background-color: #CFD4D4;
}

.card.treasure.gold {
    background-color: orange;
}
