<!DOCTYPE html>
<html>
    <head>
        <title>Dominion Simulation</title>
        <meta charset="UTF-8" />
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="expires" content="0" />


        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="style.css" />
    </head>

    <body ng-app="dominionApp">
        <div class="container" ng-controller="handController">
            <h1 class="title">Dominion Simulation</h1>
            <h4>Round {{ round }}</h4>
            <div ng-show="gameOver">
                <h4>Winners ({{ winArr.length}})</h4>
                <ul ng-repeat="player in winArr">
                    <li>{{ player.name }}</li>
                </ul>
            </div>

            <div class="sim-container">
                <h3>Common Piles</h3>
                <div class="deck-container">
                    <div ng-repeat="(cardName, numLeft) in deck">
                        <div class="deck-card">{{cardName}} ({{numLeft}})</div>
                    </div>
                </div>

                <div class="player-container" ng-repeat="player in players">
                    <div class="player-name">{{ player.name }}</div>
                    <div>Deck size: <span>{{ player.cards.length }}</span></div>
                    <div>Discard size: <span>{{ player.discard.length }}</span></div>
                    <div>Points: <span>{{ player.points }}</span></div>

                    <div ng-repeat="card in player.hand track by $index" class="card {{ card.type }} {{ card.name }}">
                        <div class="card-name">{{ card.name }}</div>
                    </div>
                </div>
            </div>

            <div id="btn-container">
                <button class="btn btn-primary" type="button" ng-click="doTurn()" ng-disabled="gameOver || simMode">Start Game / First Turn</button>
                <button class="btn btn-primary" type="button" ng-click="doSim()" ng-disabled="gameOver || simMode">Run Simulation (1 Round)</button>
                <button class="btn btn-primary" type="button" ng-click="runRounds()" ng-disabled="gameOver || simMode">Run Simulation (Many Rounds)</button>
                <button class="btn btn-danger" type="button" ng-click="resetSim()" ng-disabled="simMode">Reset</button>
            </div>
        </div>

        <!-- Javascript at bottom for faster loading -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script> -->
        <!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.js"></script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>

        <script src="player-strategies.js"></script>
        <script src="dom.js"></script>
    </body>
</html>
