.player-container {
    display: inline-block;
    border: 1px solid black;

    padding: 3%;
    margin: 2%;
}

.player-name {
    font-weight: bold;
    font-size: 1.2em;
}

.card {
    /*color: #eee;*/
    padding: 3%;
    border: 1px solid black;
    border-style: collapse;
}

.card-name {
    text-align: center;
}

.card.point {
    background-color: #1AD678;
}

.card.treasure.copper {
    background-color: #E3A805;
}

.card.treasure.silver {
    background-color: #CFD4D4;
}

.card.treasure.gold {
    background-color: orange;
}
