html, body {
    font-size: 1rem;
}

.player-container {
    margin-top: 1rem;
    margin-bottom: 1rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.player {
    display: inline-block;
    border: 1px solid black;
    padding: 1rem;
    min-width: 200px;
}

.player-name {
    font-weight: bold;
    font-size: 1.2em;
}

.card {
    /*color: #eee;*/
    padding: 1rem;
    border: 1px solid black;
    border-style: collapse;
}

.card:not(:first-of-type) {
    margin-top: 0.3rem;
}

.card-name {
    text-align: center;
}

.card.point {
    background-color: #1AD678;
}

.card.treasure.copper {
    background-color: #E3A805;
}

.card.treasure.silver {
    background-color: #CFD4D4;
}

.card.treasure.gold {
    background-color: orange;
}
